@model JPRSC.HRIS.Features.CustomRoles.Edit.Command

@{
    ViewBag.Title = "Edit Custom Role " + Model.Name;
}

<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>Edit Role</li>
            </ul>
        </div>
        <h1 class="page-title">
            Edit Role @Model.Name
        </h1>
        <div class="row">
            <div class="col-sm-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-red-sunglo">
                            <i class="fa fa-lock font-red-sunglo"></i>
                            <span class="caption-subject font-red-sunglo bold uppercase">Edit Role @Model.Name</span>
                        </div>
                    </div>
                    <div class="portlet-body form" ng-controller="EditCustomRoleCtrl as vm">
                        <form class="form-horizontal" role="form" method="post" ng-submit="vm.editCustomRoleSubmit($event)">
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.Id)
                            <div class="form-body">
                                @Html.TextBoxHorizontalFormGroup("Name")
                                <div class="form-group">
                                    <label class="col-md-3 col-lg-2 control-label">Permissions</label>
                                    <div class="col-md-9 col-lg-10">
                                        @{
                                            var lastCategory = 100;

                                            for (var i = 0; i < Model.PermissionsList.Count; i++)
                                            {
                                                var currentCategory = (int)Math.Floor((Convert.ToDouble(Model.PermissionsList[i].Value)) / 100) * 100;
                                                if (currentCategory > lastCategory)
                                                {
                                                    lastCategory = currentCategory;
                                                    <h4>@Model.PermissionsList[i].Text</h4>
                                                }

                                                <input type="hidden" name="@($"PermissionsList[{i}].Value")" value="@Model.PermissionsList[i].Value" />
                                                <input type="hidden" name="@($"PermissionsList[{i}].Text")" value="@Model.PermissionsList[i].Text" />
                                                <label class="mt-checkbox mt-checkbox-outline" style="margin-right: 15px;">
                                                    @if (Model.PermissionsList[i].Selected)
                                                    {
                                                        <input type="checkbox" name="@($"PermissionsList[{i}].Selected")" value="true" checked="checked">
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" name="@($"PermissionsList[{i}].Selected")" value="true">
                                                    }
                                                    @Model.PermissionsList[i].Text
                                                    <span></span>
                                                </label>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions right">
                                <a href="@Url.Action("Index", "CustomRoles")" class="btn default">Cancel</a>
                                <button type="submit" class="btn green">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/scriptbundles/customRoles")
}