@model JPRSC.HRIS.WebApp.Features.Employees.Edit.Command

@{
    ViewBag.Title = "Edit Employee " + Model.FirstName + " " + Model.LastName;
}

<div class="page-content-wrapper" ng-controller="EditEmployeeCtrl as vm" ng-init="vm.init('model')">
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>Edit Employee</li>
            </ul>
        </div>
        <h1 class="page-title">
            Edit Employee @Model.FirstName @Model.LastName
        </h1>
        <div ng-show="vm.hasValidationErrors" class="alert alert-danger alert-disimissable ng-hide">
            Unable to edit employee. Please go through the tabs to check the specific error/s.
            <button type="button" data-dismiss="alert" aria-hidden="true" class="close"></button>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-red-sunglo">
                            <i class="fa fa-users font-red-sunglo"></i>
                            <span class="caption-subject font-red-sunglo bold uppercase">Edit Employee @Model.FirstName @Model.LastName</span>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <form class="form-horizontal" role="form" method="post" ng-submit="vm.editEmployeeSubmit($event)">
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.Id)
                            <div class="form-body">
                                <uib-tabset active="active">
                                    <uib-tab index="0" heading="Employee Info">
                                        @Html.TextBoxHorizontalFormGroup("EmployeeCode")
                                        @Html.TextBoxHorizontalFormGroup("CompanyIdNumber", "Company ID")
                                        @Html.TextBoxHorizontalFormGroup("FirstName")
                                        @Html.TextBoxHorizontalFormGroup("MiddleName")
                                        @Html.TextBoxHorizontalFormGroup("LastName")
                                        @Html.TextBoxHorizontalFormGroup("Nickname")
                                        @Html.TextBoxHorizontalFormGroup("Email")
                                        @Html.TextBoxHorizontalFormGroup("CityAddress", "Present Address")
                                        @Html.TextBoxHorizontalFormGroup("PermanentAddress")
                                        <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.dateOfBirth }">
                                            <label class="col-md-3 col-lg-2 control-label">Date of Birth</label>
                                            <div class="col-md-9 col-lg-10">
                                                <input type="text" class="form-control" ng-model="vm.dateOfBirth"
                                                       uib-datepicker-popup="MM/dd/yyyy" datepicker-options="vm.datepickerOptions" show-button-bar="false"
                                                       is-open="vm.dateOfBirthIsOpen" ng-click="vm.dateOfBirthIsOpen = true">
                                                <input type="hidden" name="DateOfBirth" value="{{vm.dateOfBirth | date:'yyyy-MM-ddTHH:mm:ssZ'}}" />
                                                <span class="help-block" ng-show="vm.validationErrors.dateOfBirth"></span>
                                            </div>
                                        </div>
                                        @Html.TextBoxHorizontalFormGroup("PlaceOfBirth", "Place of Birth")
                                        @Html.TextBoxHorizontalFormGroup("ZipCode")
                                        @Html.TextBoxHorizontalFormGroup("TelNo")
                                        @Html.TextBoxHorizontalFormGroup("CelNo")
                                        @Html.DropdownHorizontalFormGroup("genders", "Gender")
                                        @Html.DropdownHorizontalFormGroup(Model.ReligionsList, "ReligionId", "Religion")
                                        @Html.DropdownHorizontalFormGroup("citizenships", "Citizenship")
                                        @Html.DropdownHorizontalFormGroup("civilStatuses", "CivilStatus")
                                        @Html.TextBoxHorizontalFormGroup("SSS")
                                        @Html.TextBoxHorizontalFormGroup("TIN")
                                        @Html.TextBoxHorizontalFormGroup("PagIbig")
                                        @Html.TextBoxHorizontalFormGroup("PhilHealth")
                                    </uib-tab>
                                    <uib-tab index="1" heading="Company Info">
                                        @Html.DropdownHorizontalFormGroup(Model.ClientsList, "ClientId", "Client")
                                        <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.dateHired }">
                                            <label class="col-md-3 col-lg-2 control-label">Date Hired</label>
                                            <div class="col-md-9 col-lg-10">
                                                <input type="text" class="form-control" ng-model="vm.dateHired"
                                                       uib-datepicker-popup="MM/dd/yyyy" datepicker-options="vm.datepickerOptions" show-button-bar="false"
                                                       is-open="vm.dateHiredIsOpen" ng-click="vm.dateHiredIsOpen = true">
                                                <input type="hidden" name="DateHired" value="{{vm.dateHired | date:'yyyy-MM-ddTHH:mm:ssZ'}}" />
                                                <span class="help-block" ng-show="vm.validationErrors.dateHired"></span>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.dateResigned }">
                                            <label class="col-md-3 col-lg-2 control-label">Date Resigned</label>
                                            <div class="col-md-9 col-lg-10">
                                                <input type="text" class="form-control" ng-model="vm.dateResigned"
                                                       uib-datepicker-popup="MM/dd/yyyy" datepicker-options="vm.datepickerOptions" show-button-bar="false"
                                                       is-open="vm.dateResignedIsOpen" ng-click="vm.dateResignedIsOpen = true">
                                                <input type="hidden" name="DateResigned" value="{{vm.dateResigned | date:'yyyy-MM-ddTHH:mm:ssZ'}}" />
                                                <span class="help-block" ng-show="vm.validationErrors.dateResigned"></span>
                                            </div>
                                        </div>
                                        @Html.DropdownHorizontalFormGroup(Model.JobTitlesList, "JobTitleId", "Job Title")
                                        @Html.DropdownHorizontalFormGroup(Model.DepartmentsList, "DepartmentId", "Branch")
                                        @Html.DropdownHorizontalFormGroup("regions", "Region")
                                        @Html.TextBoxHorizontalFormGroup("EmployeeStatus")
                                        <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.resignStatus }">
                                            <label class="col-md-3 col-lg-2 control-label">Resign Status</label>
                                            <div class="col-md-9 col-lg-10">
                                                <div class="mt-radio-list">
                                                    <label class="mt-radio mt-radio-outline">
                                                        <input type="radio" name="ResignStatus" value="@ResignStatus.None"> @ResignStatus.None
                                                        <span></span>
                                                    </label>
                                                    <label class="mt-radio mt-radio-outline">
                                                        <input type="radio" name="ResignStatus" value="@ResignStatus.Resigned" checked="@(Model.ResignStatus == ResignStatus.Resigned ? "checked" : null)"> @ResignStatus.Resigned
                                                        <span></span>
                                                    </label>
                                                    <label class="mt-radio mt-radio-outline">
                                                        <input type="radio" name="ResignStatus" value="@ResignStatus.AWOL" checked="@(Model.ResignStatus == ResignStatus.AWOL ? "checked" : null)"> @ResignStatus.AWOL
                                                        <span></span>
                                                    </label>
                                                    <label class="mt-radio mt-radio-outline">
                                                        <input type="radio" name="ResignStatus" value="@ResignStatus.Absorbed" checked="@(Model.ResignStatus == ResignStatus.Absorbed ? "checked" : null)"> @ResignStatus.Absorbed
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        @Html.CheckboxHorizontalFormGroup("IsActive")
                                    </uib-tab>
                                    <uib-tab index="2" heading="Pay Info">
                                        @if (AuthorizeHelper.IsAuthorized(Permission.EmployeeEditATM))
                                        {
                                            @Html.TextBoxHorizontalFormGroup("ATMAccountNumber")
                                        }
                                        @Html.DropdownHorizontalFormGroup("accountTypes", "AccountType")
                                        @Html.DropdownHorizontalFormGroup(Model.TaxStatusesList, "TaxStatusId", "Tax Status")
                                        @Html.TextBoxHorizontalFormGroup("HourlyRate")
                                        @Html.TextBoxHorizontalFormGroup("DailyRate")
                                        @Html.TextBoxHorizontalFormGroup("MonthlyRate")
                                        @Html.TextBoxHorizontalFormGroup("COLAHourly")
                                        @Html.TextBoxHorizontalFormGroup("COLADaily")
                                        @Html.TextBoxHorizontalFormGroup("COLAMonthly")
                                        @Html.CheckboxHorizontalFormGroup("SSSExempt")
                                        @Html.CheckboxHorizontalFormGroup("TaxExempt")
                                        @Html.CheckboxHorizontalFormGroup("PagIbigExempt")
                                        @Html.CheckboxHorizontalFormGroup("ThirteenthMonthExempt")
                                        @Html.CheckboxHorizontalFormGroup("PhilHealthExempt")
                                        <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.salaryStatus }">
                                            <label class="col-md-3 col-lg-2 control-label">Salary Status</label>
                                            <div class="col-md-9 col-lg-10">
                                                <div class="mt-radio-list">
                                                    <label class="mt-radio mt-radio-outline">
                                                        <input type="radio" name="SalaryStatus" value="@SalaryStatus.None" checked="@(Model.SalaryStatus == SalaryStatus.None ? "checked" : null)"> @SalaryStatus.None
                                                        <span></span>
                                                    </label>
                                                    <label class="mt-radio mt-radio-outline">
                                                        <input type="radio" name="SalaryStatus" value="@SalaryStatus.OnHold" checked="@(Model.SalaryStatus == SalaryStatus.OnHold ? "checked" : null)"> @SalaryStatus.OnHold
                                                        <span></span>
                                                    </label>
                                                    <label class="mt-radio mt-radio-outline">
                                                        <input type="radio" name="SalaryStatus" value="@SalaryStatus.ForCheck" checked="@(Model.SalaryStatus == SalaryStatus.ForCheck ? "checked" : null)"> @SalaryStatus.ForCheck
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </uib-tab>
                                    <uib-tab index="3" heading="Submitted Files">
                                        @Html.CheckboxHorizontalFormGroup("SubmittedBiodata", "Biodata / Resume with Picture")
                                        @Html.CheckboxHorizontalFormGroup("SubmittedIdPictures", "ID Pictures ( 2 pcs each size )")
                                        @Html.CheckboxHorizontalFormGroup("SubmittedNBIClearance", "NBI Clearance")
                                        @Html.CheckboxHorizontalFormGroup("SubmittedPoliceClearance", "Police Clearance")
                                        @Html.CheckboxHorizontalFormGroup("SubmittedBarangayClearance", "Barangay Clearance")
                                        @Html.CheckboxHorizontalFormGroup("SubmittedSSSIdOrED1Form", "SSS ID or E1 Form")
                                        @Html.CheckboxHorizontalFormGroup("SubmittedPhilHealthIdOrMDRForm", "Philhealth ID or MDR Form")
                                        @Html.CheckboxHorizontalFormGroup("SubmittedPagIbigIdOrMIDNo", "Pag-ibig ID or MID No.")
                                        @Html.CheckboxHorizontalFormGroup("SubmittedTINIdOr1902Form", "TIN ID or 1902 Form")
                                        @Html.CheckboxHorizontalFormGroup("SubmittedBirthCertificate", "Birth Certificate")
                                        @Html.CheckboxHorizontalFormGroup("SubmittedMarriageCertification", "Marriage Certification (if Married)")
                                        @Html.CheckboxHorizontalFormGroup("SubmittedBirthCertificateOfChildren", "Birth Certificate of Children (if any)")
                                        @Html.CheckboxHorizontalFormGroup("SubmittedDiplomaOrTCR", "Diploma or TOR")
                                        @Html.CheckboxHorizontalFormGroup("SubmittedPreEmploymentMedicalResult", "Pre-employment Medical Result")
                                        @Html.CheckboxHorizontalFormGroup("SubmittedSSSLoanVerification", "SSS Loan Verification")
                                    </uib-tab>
                                </uib-tabset>
                            </div>
                            <div class="form-actions right">
                                <a href="@Url.Action("Index", "Employees")" class="btn default">Cancel</a>
                                <i class="fa fa-refresh fa-pulse fa-fw margin-right-10" ng-show="vm.endProcessInProgress"></i>
                                <button type="submit" class="btn green" ng-disabled="vm.editInProgress">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        window.model= @Html.NgInit(Model);
    </script>
    @Scripts.Render("~/scriptbundles/employees")
}