@model JPRSC.HRIS.WebApp.Features.Employees.Edit.Command

@{
    ViewBag.Title = "Edit Employee " + Model.FirstName + " " + Model.LastName;
}

<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>Edit Employee</li>
            </ul>
        </div>
        <h1 class="page-title">
            Edit Employee @Model.FirstName @Model.LastName
        </h1>
        <div class="row">
            <div class="col-sm-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-red-sunglo">
                            <i class="fa fa-users font-red-sunglo"></i>
                            <span class="caption-subject font-red-sunglo bold uppercase">Edit Employee @Model.FirstName @Model.LastName</span>
                        </div>
                    </div>
                    <div class="portlet-body form" ng-controller="EditEmployeeCtrl as vm" ng-init='vm.serverModel = @Html.NgInit(Model)'>
                        <form class="form-horizontal" role="form" method="post" ng-submit="vm.editEmployeeSubmit($event)">
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.Id)
                            <div class="form-body">
                                @Html.TextBoxHorizontalFormGroup("EmployeeCode")
                                @Html.TextBoxHorizontalFormGroup("FirstName")
                                @Html.TextBoxHorizontalFormGroup("MiddleName")
                                @Html.TextBoxHorizontalFormGroup("LastName")
                                @Html.TextBoxHorizontalFormGroup("Nickname")
                                @Html.TextBoxHorizontalFormGroup("CityAddress")
                                @Html.TextBoxHorizontalFormGroup("DateOfBirth", "Date of Birth", "MM/dd/yyyy")
                                @Html.TextBoxHorizontalFormGroup("ZipCode")
                                @Html.TextBoxHorizontalFormGroup("TelNo")
                                @Html.TextBoxHorizontalFormGroup("CelNo")
                                @Html.DropdownHorizontalFormGroup("genders", "Gender")
                                @Html.DropdownHorizontalFormGroup(Model.ReligionsList, "ReligionId", "Religion")
                                @Html.DropdownHorizontalFormGroup("citizenships", "Citizenship")
                                @Html.DropdownHorizontalFormGroup("civilStatuses", "CivilStatus")
                                @Html.TextBoxHorizontalFormGroup("SSS")
                                @Html.TextBoxHorizontalFormGroup("TIN")
                                @Html.TextBoxHorizontalFormGroup("Email")

                                @Html.TextBoxHorizontalFormGroup("DateHired", "Date Hired", "MM/dd/yyyy")
                                @Html.TextBoxHorizontalFormGroup("DateResigned", "DateResigned", "MM/dd/yyyy")
                                @Html.DropdownHorizontalFormGroup(Model.ClientsList, "ClientId", "Client")
                                @Html.TextBoxHorizontalFormGroup("Position")
                                @Html.DropdownHorizontalFormGroup(Model.DepartmentsList, "DepartmentId", "Department")
                                @Html.DropdownHorizontalFormGroup(Model.TaxStatusesList, "TaxStatusId", "Tax Status")
                                @Html.TextBoxHorizontalFormGroup("EmployeeStatus")
                                @Html.TextBoxHorizontalFormGroup("PagIbig")
                                @Html.TextBoxHorizontalFormGroup("PhilHealth")
                                @Html.DropdownHorizontalFormGroup("accountTypes", "AccountType")
                                @Html.TextBoxHorizontalFormGroup("ATMAccountNumber")

                                @Html.TextBoxHorizontalFormGroup("HourlyRate")
                                @Html.TextBoxHorizontalFormGroup("DailyRate")
                                @Html.TextBoxHorizontalFormGroup("COLAHourly")
                                @Html.TextBoxHorizontalFormGroup("COLADaily")
                            </div>
                            <div class="form-actions right">
                                <a href="@Url.Action("Index", "Employees")" class="btn default">Cancel</a>
                                <button type="submit" class="btn green">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/scriptbundles/employees")
}