@model JPRSC.HRIS.Features.Employees.Index.QueryResult
@{
    ViewBag.Title = "Employees";
}

<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>Employees</li>
            </ul>
        </div>
        <h1 class="page-title">
            Employees
        </h1>
        @Html.Raw(Html.RenderSuccessNotification())
        @if (AuthorizeHelper.IsAuthorized(Permission.EmployeeAdd))
        {
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <a href="@Url.Action("Add", "Employees")" class="btn btn-primary">Add Employee</a>
                    </div>
                </div>
            </div>
        }
        <div class="row" ng-controller="EmployeeIndexCtrl as vm" ng-init='vm.serverModel = @Html.NgInit(Model)'>
            <div class="col-sm-12">
                <form role="form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Search</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-search fa-fw" ng-show="!vm.searchInProgress"></i>
                                            <i class="fa fa-refresh fa-pulse fa-fw" ng-show="vm.searchInProgress"></i>
                                        </span>
                                        <input type="text" class="form-control" ng-model="vm.searchModel.searchTerm" ng-model-options="{ debounce: 500 }" placeholder="" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Client</label>
                                    <select class="form-control" ng-model="vm.searchModel.client" ng-options="client.name for client in vm.clients track by client.id"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="note note-info" ng-show="!vm.searchInProgress && !vm.employees.length">
                    <p>No employees found.</p>
                </div>
                <p ng-show="vm.searchInProgress">
                    <i class="fa fa-refresh fa-pulse fa-fw margin-right-10"></i>Loading...
                </p>
                <div class="portlet light bordered" ng-show="vm.employees.length">
                    <div class="portlet-title">
                        <div class="caption font-red-sunglo">
                            <i class="fa fa-users font-red-sunglo"></i>
                            <span class="caption-subject font-red-sunglo bold uppercase">Employees</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-scrollable">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Employee Code</th>
                                        <th>Last Name</th>
                                        <th>First Name</th>
                                        <th>Middle Name</th>
                                        <th>Client</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="employee in vm.employees track by employee.id">
                                        <td>{{employee.employeeCode}}</td>
                                        <td>{{employee.lastName}}</td>
                                        <td>{{employee.firstName}}</td>
                                        <td>{{employee.middleName}}</td>
                                        <td>{{employee.clientName}}</td>
                                        <td>
                                            <a href="{{'/Employees/Details?employeeId=' + employee.id}}" class="btn btn-primary btn-sm">Details</a>
                                            @if (AuthorizeHelper.IsAuthorized(Permission.EmployeeEdit))
                                            {
                                                <a href="" ng-if="employee.rehireEnabled" ng-click="vm.rehireClicked(employee)" class="btn btn-primary btn-sm">Rehire</a>
                                                <a href="" ng-click="vm.transferClicked(employee)" class="btn btn-primary btn-sm">Transfer</a>
                                                <a href="{{'/Employees/Edit?employeeId=' + employee.id}}" class="btn btn-primary btn-sm">Edit</a>
                                            }
                                            @if (AuthorizeHelper.IsAuthorized(Permission.EmployeeDelete))
                                            {
                                                <form action="/Employees/Delete" method="post" style="display: inline-block;" onsubmit="return confirm('Are you sure you want to delete this record?');">
                                                    @Html.AntiForgeryToken()
                                                    <input type="hidden" name="EmployeeId" value="{{employee.id}}" />
                                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                                </form>
                                            }
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <ul class="pager">
                            <li class="previous">
                                <a href="" ng-disabled="vm.searchModel.pageNumber == 1" ng-click="vm.previousClicked()" class="btn blue">
                                    <i class="fa fa-angle-left"></i> Previous
                                </a>
                            </li>
                            <li class="next">
                                <a href="" ng-disabled="vm.searchModel.pageNumber == vm.lastPageNumber" ng-click="vm.nextClicked()" class="btn blue">
                                    Next
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            @if (AuthorizeHelper.IsAuthorized(Permission.EmployeeEdit))
            {
                <script type="text/ng-template" id="rehireModal.html">
                    <form class="form-horizontal" role="form" method="post" id="rehireForm">
                        <div class="modal-header">
                            <h3 class="modal-title">Rehire</h3>
                        </div>
                        <div class="modal-body">
                            <div class="form-body">
                                <input type="hidden" name="EmployeeId" value="{{vm.employee.id}}" />
                                <div class="form-group">
                                    <label class="col-md-4 col-lg-3 control-label">Employee</label>
                                    <div class="col-md-8 col-lg-9">
                                        <p class="form-control-static">{{vm.employee.lastName}}, {{vm.employee.firstName}} {{vm.employee.middleName}}</p>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.clientId }">
                                    <label class="col-md-4 col-lg-3 control-label">To Client</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input type="hidden" name="ClientId" value="{{vm.client.id}}" />
                                        <select class="form-control" ng-model="vm.client" ng-options="client.name for client in vm.clients track by client.id" ng-change="vm.clientChanged()"></select>
                                        <span ng-show="vm.validationErrors.clientId" class="help-block">{{vm.validationErrors.clientId.join(' ')}}</span>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.rehireDate }">
                                    <label class="col-md-4 col-lg-3 control-label">Rehire Date</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input type="text" class="form-control" ng-model="vm.rehireDate"
                                               uib-datepicker-popup="EEE, MMMM dd, yyyy" datepicker-options="vm.datepickerOptions" show-button-bar="false"
                                               is-open="vm.rehireDateIsOpen" ng-click="vm.rehireDateIsOpen = true">
                                        <input type="hidden" name="RehireDate" value="{{vm.rehireDate | date:'yyyy-MM-ddTHH:mm:ssZ'}}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <i class="fa fa-refresh fa-pulse fa-fw margin-right-10" ng-show="vm.rehireProgress"></i>
                            <button type="button" class="btn green" ng-click="vm.rehireSubmit()" ng-disabled="vm.rehireProgress">Rehire</button>
                            <a href="" class="btn btn-default" ng-click="vm.cancel()" ng-disabled="vm.rehireProgress">Cancel</a>
                        </div>
                    </form>
                </script>
            }

            @if (AuthorizeHelper.IsAuthorized(Permission.EmployeeEdit))
            {
                <script type="text/ng-template" id="transferModal.html">
                    <form class="form-horizontal" role="form" method="post" id="transferForm">
                        <div class="modal-header">
                            <h3 class="modal-title">Transfer</h3>
                        </div>
                        <div class="modal-body">
                            <div class="form-body">
                                <input type="hidden" name="EmployeeId" value="{{vm.employee.id}}" />
                                <div class="form-group">
                                    <label class="col-md-4 col-lg-3 control-label">Employee</label>
                                    <div class="col-md-8 col-lg-9">
                                        <p class="form-control-static">{{vm.employee.lastName}}, {{vm.employee.firstName}} {{vm.employee.middleName}}</p>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.clientId }">
                                    <label class="col-md-4 col-lg-3 control-label">To Client</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input type="hidden" name="ClientId" value="{{vm.client.id}}" />
                                        <select class="form-control" ng-model="vm.client" ng-options="client.name for client in vm.clients track by client.id" ng-change="vm.clientChanged()"></select>
                                        <span ng-show="vm.validationErrors.clientId" class="help-block">{{vm.validationErrors.clientId.join(' ')}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <i class="fa fa-refresh fa-pulse fa-fw margin-right-10" ng-show="vm.transferProgress"></i>
                            <button type="button" class="btn green" ng-click="vm.transferSubmit()" ng-disabled="vm.transferProgress">Transfer</button>
                            <a href="" class="btn btn-default" ng-click="vm.cancel()" ng-disabled="vm.transferProgress">Cancel</a>
                        </div>
                    </form>
                </script>
            }
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/scriptbundles/employees")
}