@model JPRSC.HRIS.Features.Payroll.ForProcessing.QueryResult

@{
    ViewBag.Title = "For Processing";
}

@section styles
{
    <style>
        tr:hover {
            cursor: pointer;
        }

        th, td {
            height: 20px;
        }

        td > label.checkbox {
            margin-top: 0px;
        }
    </style>    
}

<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>For Processing</li>
            </ul>
        </div>
        <h1 class="page-title">
            For Processing
        </h1>
        @Html.Raw(Html.RenderSuccessNotification())
        <div class="row" ng-controller="ForProcessingCtrl as vm" ng-init='vm.serverModel = @Html.NgInit(Model)'>
            <div class="col-sm-12">
                <form role="form" class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 col-lg-2 control-label">Client</label>
                            <div class="col-md-9 col-lg-10">
                                <select class="form-control" ng-model="vm.searchModel.client" ng-options="client.name for client in vm.clients track by client.id" ng-change="vm.searchClicked()"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-lg-2 control-label">Payroll Period From</label>
                            <div class="col-md-9 col-lg-10">
                                <input type="text" class="form-control" ng-model="vm.payrollPeriodFrom"
                                       uib-datepicker-popup="EEE, MMMM dd, yyyy" datepicker-options="vm.datepickerOptions" show-button-bar="false"
                                       is-open="vm.payrollPeriodFromIsOpen" ng-click="vm.payrollPeriodFromIsOpen = true">
                                <input type="hidden" name="PayrollPeriodFrom" value="{{vm.payrollPeriodFrom | date:'yyyy-MM-ddTHH:mm:ssZ'}}" />
                                <span ng-show="vm.validationErrors.payrollPeriodFrom" class="help-block">{{vm.validationErrors.payrollPeriodFrom.join(' ')}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-lg-2 control-label">Payroll Period To</label>
                            <div class="col-md-9 col-lg-10">
                                <input type="text" class="form-control" ng-model="vm.payrollPeriodTo"
                                       uib-datepicker-popup="EEE, MMMM dd, yyyy" datepicker-options="vm.datepickerOptions" show-button-bar="false"
                                       is-open="vm.payrollPeriodToIsOpen" ng-click="vm.payrollPeriodToIsOpen = true">
                                <input type="hidden" name="PayrollPeriodTo" value="{{vm.payrollPeriodTo | date:'yyyy-MM-ddTHH:mm:ssZ'}}" />
                                <span ng-show="vm.validationErrors.payrollPeriodTo" class="help-block">{{vm.validationErrors.payrollPeriodTo.join(' ')}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-lg-2 control-label">Payroll Period Month</label>
                            <div class="col-md-9 col-lg-10">
                                <select class="form-control" name="PayrollPeriodMonth" ng-model="vm.payrollPeriodMonth">
                                    <option value="@((int)Month.January)">@Month.January.ToString()</option>
                                    <option value="@((int)Month.February)">@Month.February.ToString()</option>
                                    <option value="@((int)Month.March)">@Month.March.ToString()</option>
                                    <option value="@((int)Month.April)">@Month.April.ToString()</option>
                                    <option value="@((int)Month.May)">@Month.May.ToString()</option>
                                    <option value="@((int)Month.June)">@Month.June.ToString()</option>
                                    <option value="@((int)Month.July)">@Month.July.ToString()</option>
                                    <option value="@((int)Month.August)">@Month.August.ToString()</option>
                                    <option value="@((int)Month.September)">@Month.September.ToString()</option>
                                    <option value="@((int)Month.October)">@Month.October.ToString()</option>
                                    <option value="@((int)Month.November)">@Month.November.ToString()</option>
                                    <option value="@((int)Month.December)">@Month.December.ToString()</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-lg-2 control-label">Search by Employee Code, First Name, Last Name, or MI</label>
                            <div class="col-md-9 col-lg-10">
                                <div class="input-group" style="width: 100%">
                                    <input type="text" class="form-control" ng-disabled="!vm.employees.length" ng-model="vm.localSearchTerm" ng-model-options="{ debounce: 500 }" placeholder="" />
                                </div>
                                <span ng-show="vm.validationErrors.employeeIds" class="help-block">{{vm.validationErrors.employeeIds.join(' ')}}</span>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" ng-disabled="!vm.searchModel.clientId || !vm.employees.length || !vm.payrollPeriodFrom || !vm.payrollPeriodTo || !vm.payrollPeriodMonth || vm.searchInProgress" ng-click="vm.addToQueueClicked(false)">Add to Queue</button>
                        </div>
                    </div>
                </div>
                <div class="note note-info" ng-show="!vm.employees.length">
                    <p>No employees found.</p>
                </div>
                <p ng-show="vm.searchInProgress">Loading...</p>
                <div class="portlet light bordered" ng-show="vm.employees.length">
                    <div class="portlet-body">
                        <div class="table-scrollable fit-to-portlet">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <td>Employee Code</td>
                                        <td>Last Name</td>
                                        <td>First Name</td>
                                        <td>MI</td>
                                        <td>Resign Status</td>
                                        <td style="width: 120px;">&nbsp;</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="employee in vm.filteredEmployees track by employee.id" ng-class="{ 'active': employee.includeInBatch }" ng-click="employee.includeInBatch = !employee.includeInBatch">
                                        <td>{{employee.employeeCode}}</td>
                                        <td>{{employee.lastName}}</td>
                                        <td>{{employee.firstName}}</td>
                                        <td>{{employee.middleInitial}}</td>
                                        <td>{{employee.resignStatus}}</td>
                                        <td style="width: 120px;">
                                            <span class="badge bg-green-jungle bg-font-green-jungle badge-roundless" ng-show="employee.includeInBatch">For Processing</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/scriptbundles/payroll")
}