@model JPRSC.HRIS.WebApp.Features.Payroll.Index.QueryResult

@{
    ViewBag.Title = "Payroll";
}

<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>Process Payroll</li>
            </ul>
        </div>
        <h1 class="page-title">
            Process Payroll
        </h1>
        @Html.RenderSuccessNotification()
        <div class="row" ng-controller="PayrollIndexCtrl as vm" ng-init='vm.serverModel = @Html.NgInit(Model)'>
            <div class="col-sm-12">
                @*<div class="note note-info" ng-show="!vm.searchModel.client.value || !vm.searchModel.client.value.length">
                    <p>Please select a client.</p>
                </div>
                <form role="form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Client</label>
                                    <select class="form-control" ng-model="vm.searchModel.client" ng-options="client.code for client in vm.clients track by client.id">
                                        <option value="?" selected="selected">Select client</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>*@
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" ng-disabled="vm.searchInProgress" ng-click="vm.processClicked()">Process</button>
                        </div>
                    </div>
                </div>
                <div class="note note-info" ng-show="!vm.payrollProcessBatches.length">
                    <p>No payroll records found.</p>
                </div>
                <div class="portlet light bordered" ng-show="vm.payrollProcessBatches.length">
                    <div class="portlet-title">
                        <div class="caption font-red-sunglo">
                            <i class="fa fa-dollar font-red-sunglo"></i>
                            <span class="caption-subject font-red-sunglo bold uppercase">Payroll Records</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-scrollable">
                            @*<div class="btn-group open">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                    <i class="fa fa-ellipsis-horizontal"></i> Reports
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{'/Payroll/Report?payrollProcessBatchId=' + payrollProcessBatch.id}}" target="_blank" class="btn btn-primary btn-sm">Report View</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"> Dropdown link </a>
                                    </li>
                                </ul>
                            </div>*@
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Client</th>
                                        <th>Payroll Period</th>
                                        <th>Payroll Period From</th>
                                        <th>Payroll Period To</th>
                                        <th>&nbsp;</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="payrollProcessBatch in vm.payrollProcessBatches track by payrollProcessBatch.id">
                                        <td>{{payrollProcessBatch.client.name}}</td>
                                        <td>{{payrollProcessBatch.payrollPeriod}}</td>
                                        <td>{{payrollProcessBatch.payrollPeriodFrom | date: 'mediumDate'}}</td>
                                        <td>{{payrollProcessBatch.payrollPeriodTo | date: 'mediumDate'}}</td>
                                        <td>
                                            <span class="badge bg-green-jungle bg-font-green-jungle badge-roundless" ng-if="payrollProcessBatch.isEndProcessed">End Process Finished</span>
                                            <span class="badge bg-red-thunderbird bg-font-red-thunderbird badge-roundless" ng-if="!payrollProcessBatch.isEndProcessed">End Process not Finished</span>
                                        </td>
                                        <td>
                                            <div class="btn-group" style="position: absolute;">
                                                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                                    <i class="fa fa-ellipsis-horizontal"></i> Reports
                                                    <i class="fa fa-angle-down"></i>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a href="{{'/Payroll/PayrollReport?payrollProcessBatchId=' + payrollProcessBatch.id}}" target="_blank">Payroll</a>
                                                    </li>
                                                    <li ng-show="payrollProcessBatch.isEndProcessed">
                                                        <a href="{{'/Payroll/BankReport?payrollProcessBatchId=' + payrollProcessBatch.id}}" target="_blank">Bank</a>
                                                    </li>
                                                    <li ng-show="payrollProcessBatch.isEndProcessed">
                                                        <a href="{{'/Payroll/PayslipReport?payrollProcessBatchId=' + payrollProcessBatch.id}}" target="_blank">Payslip</a>
                                                    </li>
                                                </ul>
                                            </div>

                                            @* This is necessary for the positioning of the button dropdown *@
                                            <a href="" target="_blank" class="btn btn-primary btn-sm" style="margin-right: 25px;">Report</a>

                                            <form action="/Payroll/Delete" method="post" style="display: inline-block;" ng-if="!payrollProcessBatch.isEndProcessed">
                                                @Html.AntiForgeryToken()
                                                <input type="hidden" name="PayrollProcessBatchId" value="{{payrollProcessBatch.id}}" />
                                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <script type="text/ng-template" id="addPayrollModal.html">
                <form class="form-horizontal" role="form" method="post" id="processForm">
                    <div class="modal-header">
                        <h3 class="modal-title">Process Payroll</h3>
                    </div>
                    <div class="modal-body">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="col-md-4 col-lg-3 control-label">Client</label>
                                <div class="col-md-8 col-lg-9">
                                    <input type="hidden" name="ClientId" value="{{vm.client.id}}" />
                                    <select class="form-control" ng-model="vm.client" ng-options="client.name for client in vm.clients track by client.id" ng-change="vm.clientChanged()"></select>
                                    <span ng-show="vm.validationErrors.clientId" class="help-block">{{vm.validationErrors.clientId.join(' ')}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 col-lg-3 control-label">Payroll Period From</label>
                                <div class="col-md-8 col-lg-9">
                                    <input type="text" class="form-control" ng-model="vm.payrollPeriodFrom"
                                           uib-datepicker-popup="EEE, MMMM dd, yyyy" datepicker-options="vm.datepickerOptions" show-button-bar="false"
                                           is-open="vm.payrollPeriodFromIsOpen" ng-click="vm.payrollPeriodFromIsOpen = true">
                                    <input type="hidden" name="PayrollPeriodFrom" value="{{vm.payrollPeriodFrom | date:'yyyy-MM-ddTHH:mm:ssZ'}}" />
                                    <span ng-show="vm.validationErrors.payrollPeriodFrom" class="help-block">{{vm.validationErrors.payrollPeriodFrom.join(' ')}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 col-lg-3 control-label">Payroll Period To</label>
                                <div class="col-md-8 col-lg-9">
                                    <input type="text" class="form-control" ng-model="vm.payrollPeriodTo"
                                           uib-datepicker-popup="EEE, MMMM dd, yyyy" datepicker-options="vm.datepickerOptions" show-button-bar="false"
                                           is-open="vm.payrollPeriodToIsOpen" ng-click="vm.payrollPeriodToIsOpen = true">
                                    <input type="hidden" name="PayrollPeriodTo" value="{{vm.payrollPeriodTo | date:'yyyy-MM-ddTHH:mm:ssZ'}}" />
                                    <span ng-show="vm.validationErrors.payrollPeriodTo" class="help-block">{{vm.validationErrors.payrollPeriodTo.join(' ')}}</span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.payrollPeriod }">
                                <label class="col-md-4 col-lg-3 control-label">Payroll Period</label>
                                <div class="col-md-8 col-lg-9">
                                    <input type="text" class="form-control" name="PayrollPeriod" ng-model="vm.payrollPeriod" />
                                    <span ng-show="vm.validationErrors.payrollPeriod" class="help-block">{{vm.validationErrors.payrollPeriod.join(' ')}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <i class="fa fa-refresh fa-pulse fa-fw margin-right-10" ng-show="vm.processInProgress"></i>
                        <button type="button" class="btn green" ng-click="vm.processSubmit()" ng-disabled="vm.processInProgress">Process</button>
                        <a href="" class="btn btn-default" ng-click="vm.cancel()" ng-disabled="vm.processInProgress">Exit</a>
                    </div>
                </form>
            </script>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/scriptbundles/payroll")
}