@model JPRSC.HRIS.Features.Payroll.PayrollReport.QueryResult
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Payroll Report for @Model.PayrollProcessBatchResult.Client.Name</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
    <style>
        body {
            font-family: 'PT Serif', serif;
        }

        .payroll-table td {
            text-align: right;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h3>Job Placement Resources Services Cooperative</h3>
                <h4>Payroll Report for @Model.PayrollProcessBatchResult.Client.Name</h4>
                <h5>For the period @Model.PayrollProcessBatchResult.PayrollPeriodFromFormatted to @Model.PayrollProcessBatchResult.PayrollPeriodToFormatted (@Model.PayrollProcessBatchResult.PayrollPeriodFormatted payroll period)</h5>
                <h5>@Model.PayrollReportItems.Count() record/s total</h5>
            </div>
        </div>
        @if (!Model.PayrollReportItems.Any())
        {
            <div class="row">
                <div class="col-sm-12">
                    <p class="lead">No records found.</p>
                </div>
            </div>
        }
        else
        {
            <div class="row hidden-print">
                <div class="col-sm-12">
                    <div class="form-group">
                        <form action="~/Payroll/ExportToExcelPost" method="post" style="display: inline-block;">
                            <input type="hidden" name="PayrollProcessBatchId" value="@Model.PayrollProcessBatchId" />
                            <input type="hidden" name="ReportType" value="Payroll" />
                            <input type="hidden" name="ViewDetailed" id="ViewDetailed" value="false" />
                            <input type="hidden" name="DisplayMode" value="@Model.DisplayMode" />
                            <button type="submit" class="btn btn-primary margin-right-20">Download Excel</button>
                        </form>
                        @if (String.IsNullOrWhiteSpace(Model.DisplayMode))
                        {
                            <button class="btn btn-primary" disabled="disabled">Sort by Name</button>
                            <a href="@Url.Action("PayrollReport", new { PayrollProcessBatchId = Model.PayrollProcessBatchId, DisplayMode = "Branch" })" class="btn btn-primary">Group by Branch</a>
                        }
                        else if (Model.DisplayMode == "Branch")
                        {
                            <a href="@Url.Action("PayrollReport", new { PayrollProcessBatchId = Model.PayrollProcessBatchId })" class="btn btn-primary">Sort by Name</a>
                            <button class="btn btn-primary" disabled="disabled">Group by Branch</button>
                        }
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="viewDetailedCheckbox" /> View in detail
                        <span id="loader" class="hidden">Loading...</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    @if (String.IsNullOrWhiteSpace(Model.DisplayMode))
                    {
                        @Html.Partial("PayrollReportTable", Tuple.Create(Model, Model.PayrollReportItems))
                    }
                    else if (Model.DisplayMode == "Branch")
                    {
                        foreach (var payrollReportItem in Model.PayrollReportItems.Where(p => p.PayrollRecord.Employee.Department == null))
                        {
                            payrollReportItem.PayrollRecord.Employee.Department = new JPRSC.HRIS.Models.Department { Id = 0, Name = "No Branch" };
                        }
                        var groupedByBranch = Model.PayrollReportItems.GroupBy(pr => new { pr.PayrollRecord.Employee.Department.Id, pr.PayrollRecord.Employee.Department.Name });
                        foreach (var group in groupedByBranch.OrderBy(g => g.Key.Name))
                        {
                            <h2>@group.Key.Name</h2>
                            @Html.Partial("PayrollReportTable", Tuple.Create(Model, group.AsEnumerable()))
                        }
                    }
                </div>
            </div>
        }
    </div>

    <script src="~/wwwroot/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            console.log("ready!");
            $("#viewDetailedCheckbox").change(function () {
                console.log('changed', this.checked);

                $('#loader').removeClass('hidden');

                if (this.checked) {
                    $('#ViewDetailed').val(true);
                    $('.detail').removeClass('hidden');
                }
                else {
                    $('#ViewDetailed').val(false);
                    $('.detail').addClass('hidden');
                }

                $('#loader').addClass('hidden');
            });
        });
    </script>
</body>
</html>