@model JPRSC.HRIS.WebApp.Features.Payroll.PayslipReport.QueryResult
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Payslip Report for @Model.PayrollProcessBatchResult.Client.Name</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
    <style>
        body {
            font-family: 'PT Serif', serif;
        }

        table {
            font-size: 0.6em;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h3>Job Placement Resources Services Cooperative</h3>
                <h4>Payslip Report for @Model.PayrollProcessBatchResult.Client.Name</h4>
                <h5>For the period @Model.PayrollProcessBatchResult.PayrollPeriodFromFormatted to @Model.PayrollProcessBatchResult.PayrollPeriodToFormatted (@Model.PayrollProcessBatchResult.PayrollPeriodFormatted payroll period)</h5>
                <h5>@Model.PayslipRecords.Count() record/s total</h5>
            </div>
        </div>
        @if (!Model.PayslipRecords.Any())
        {
            <div class="row">
                <div class="col-sm-12">
                    <p class="lead">No records found.</p>
                </div>
            </div>
        }
        else
        {
            <div class="row hidden-print">
                <div class="col-sm-12">
                    <div class="form-group">
                        <a href="@Url.Action("ExportToExcel", new { PayrollProcessBatchId = Model.PayrollProcessBatchId, ReportType = "Payslip" })" class="btn btn-primary" style="margin-right: 20px;">Download Excel</a>
                        @if (String.IsNullOrWhiteSpace(Model.DisplayMode))
                        {
                            <button class="btn btn-primary" disabled="disabled">Sort by Name</button>
                            <a href="@Url.Action("PayslipReport", new { PayrollProcessBatchId = Model.PayrollProcessBatchId, DisplayMode = "Branch" })" class="btn btn-primary">Group by Branch</a>
                        }
                        else if (Model.DisplayMode == "Branch")
                        {
                            <a href="@Url.Action("PayslipReport", new { PayrollProcessBatchId = Model.PayrollProcessBatchId })" class="btn btn-primary">Sort by Name</a>
                            <button class="btn btn-primary" disabled="disabled">Group by Branch</button>
                        }
                    </div>
                </div>
            </div>
            if (String.IsNullOrWhiteSpace(Model.DisplayMode))
            {
                @Html.Partial("PayslipReportTable", Tuple.Create(Model, Model.PayslipRecords))
            }
            else if (Model.DisplayMode == "Branch")
            {
                foreach (var payrollRecord in Model.PayslipRecords.Where(p => p.PayrollRecord.Employee.Department == null))
                {
                    payrollRecord.PayrollRecord.Employee.Department = new JPRSC.HRIS.Models.Department { Id = 0, Name = "No Branch" };
                }

                var groupedByBranch = Model.PayslipRecords.GroupBy(pr => new { pr.PayrollRecord.Employee.Department.Id, pr.PayrollRecord.Employee.Department.Name });
                foreach (var group in groupedByBranch.OrderBy(g => g.Key.Name))
                {
                    <h3>@group.Key.Name</h3>
                    @Html.Partial("PayslipReportTable", Tuple.Create(Model, group.AsEnumerable()))
                }
            }
        }
    </div>
</body>
</html>