<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" ng-app="app">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @AppSettings.String("ApplicationName")</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    @Styles.Render("~/stylebundles/metronic-global")
    @Styles.Render("~/stylebundles/metronic-theme")
    @Styles.Render("~/stylebundles/site")
    @RenderSection("styles", required: false)
    <link rel="icon" href="@Url.Content("~/wwwroot/favicon.ico")" />
</head>
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
    <div class="page-wrapper">
        @Html.Partial("_Header")
        <div class="clearfix"></div>
        <div class="page-container">
            @Html.Partial("_Sidebar")
            @RenderBody()
            @Html.Partial("_QuickSidebar")
        </div>
        @Html.Partial("_Footer")
    </div>
    @Scripts.Render("~/scriptbundles/metronic-core")
    @Scripts.Render("~/scriptbundles/metronic-theme-global")
    @Scripts.Render("~/scriptbundles/metronic-theme-layout")
    @Scripts.Render("~/scriptbundles/angular")
    <script>
        (function () {
            window.lookups = {
                accountTypes: {
                    savings: @Html.EnumLookup(AccountType.Savings),
                    current: @Html.EnumLookup(AccountType.Current),
                    checking: @Html.EnumLookup(AccountType.Checking)
                },
                citizenships: {
                    filipino: @Html.EnumLookup(Citizenship.Filipino)
                },
                civilStatuses: {
                    single: @Html.EnumLookup(CivilStatus.Single),
                    married: @Html.EnumLookup(CivilStatus.Married),
                    divorced: @Html.EnumLookup(CivilStatus.Divorced),
                    widowed: @Html.EnumLookup(CivilStatus.Widowed),
                    separated: @Html.EnumLookup(CivilStatus.Separated)
                },
                cutOffPeriods: {
                    daily: @Html.EnumLookup(CutOffPeriod.Daily),
                    biMonthly: @Html.EnumLookup(CutOffPeriod.BiMonthly),
                    monthly: @Html.EnumLookup(CutOffPeriod.Monthly)
                },
                earningDeductionTypes: {
                    earnings: @Html.EnumLookup(EarningDeductionType.Earnings),
                    deductions: @Html.EnumLookup(EarningDeductionType.Deductions)
                },
                genders: {
                    male: @Html.EnumLookup(Gender.Male),
                    female: @Html.EnumLookup(Gender.Female)
                },
                taxTables: {
                    weeekly: @Html.EnumLookup(TaxTable.Weekly),
                    semiMonthly: @Html.EnumLookup(TaxTable.SemiMonthly),
                    monthly: @Html.EnumLookup(TaxTable.Monthly),
                    yearly: @Html.EnumLookup(TaxTable.Yearly)
                },
                payrollCodes: {
                    daily: @Html.EnumLookup(PayrollCode.Daily),
                    semiMonthly: @Html.EnumLookup(PayrollCode.SemiMonthly),
                    monthly: @Html.EnumLookup(PayrollCode.Monthly)
                },
                months: {
                    january: @Html.EnumLookup(Month.January),
                    february: @Html.EnumLookup(Month.February),
                    march: @Html.EnumLookup(Month.March),
                    april: @Html.EnumLookup(Month.April),
                    may: @Html.EnumLookup(Month.May),
                    june: @Html.EnumLookup(Month.June),
                    july: @Html.EnumLookup(Month.July),
                    august: @Html.EnumLookup(Month.August),
                    september: @Html.EnumLookup(Month.September),
                    october: @Html.EnumLookup(Month.October),
                    november: @Html.EnumLookup(Month.November),
                    december: @Html.EnumLookup(Month.December)
                }
            };
        }());
    </script>
    <script src="~/wwwroot/scripts/shared/app.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>