@model JPRSC.HRIS.WebApp.Features.Companies.Add.Command

@{
    ViewBag.Title = "Add a Company";
}

<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>Add Company</li>
            </ul>
        </div>
        <h1 class="page-title">
            Add Company
        </h1>
        <div class="row">
            <div class="col-sm-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-red-sunglo">
                            <i class="fa fa-plus font-red-sunglo"></i>
                            <span class="caption-subject font-red-sunglo bold uppercase">Add Company</span>
                        </div>
                    </div>
                    <div class="portlet-body form" ng-controller="AddCompanyCtrl as vm">
                        <form class="form-horizontal" role="form" method="post" ng-submit="vm.addCompanySubmit($event)">
                            @Html.AntiForgeryToken()
                            <div class="form-body">
                                @Html.TextBoxHorizontalFormGroup("Name")
                                @Html.CheckboxHorizontalFormGroup("IsDefault", "Default")
                                @Html.TextBoxHorizontalFormGroup("Address")
                                @Html.TextBoxHorizontalFormGroup("Email")
                                @Html.TextBoxHorizontalFormGroup("Phone", "Telephone num")
                                @Html.TextBoxHorizontalFormGroup("SSS", "SSS no.")
                                @Html.TextBoxHorizontalFormGroup("PagIbig", "Pag-ibig")
                                @Html.TextBoxHorizontalFormGroup("Registration", "Registration no.")
                                @Html.TextBoxHorizontalFormGroup("BOI")
                                @Html.TextBoxHorizontalFormGroup("DateIssued", "Date issued", "MM/dd/yyyy")
                                @Html.TextBoxHorizontalFormGroup("DTI", "DTI No")
                                @Html.TextBoxHorizontalFormGroup("PERAA", "PERAA Code No.")
                                @Html.TextBoxHorizontalFormGroup("VAT", "Vat No.")
                                @Html.TextBoxHorizontalFormGroup("PhilHealth", "Phil Health No.")
                                @Html.TextBoxHorizontalFormGroup("PlaceIssued", "Place Issued")
                                @Html.TextBoxHorizontalFormGroup("SEC", "SEC Reg No.")
                                @Html.TextBoxHorizontalFormGroup("ZipCode", "Zip Code")
                            </div>
                            <div class="form-actions right">
                                <a href="@Url.Action("Index", "Companies")" class="btn default">Cancel</a>
                                <button type="submit" class="btn green">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/scriptbundles/companies")    
}