@model JPRSC.HRIS.WebApp.Features.EarningDeductions.Edit.Command

@{
    ViewBag.Title = "Edit Earning / Deduction " + Model.Code;
}

<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>Edit Earning / Deduction</li>
            </ul>
        </div>
        <h1 class="page-title">
            Edit Earning / Deduction @Model.Code
        </h1>
        <div class="row">
            <div class="col-sm-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-red-sunglo">
                            <i class="fa fa-dollar font-red-sunglo"></i>
                            <span class="caption-subject font-red-sunglo bold uppercase">Edit Earning / Deduction @Model.Code</span>
                        </div>
                    </div>
                    <div class="portlet-body form" ng-controller="EditEarningDeductionCtrl as vm" ng-init='vm.serverModel = @Html.NgInit(Model)'>
                        <form class="form-horizontal" role="form" method="post" ng-submit="vm.editEarningDeductionSubmit($event)">
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.Id)
                            <div class="form-body">
                                @Html.TextBoxHorizontalFormGroup("Code")
                                @Html.TextBoxHorizontalFormGroup("Description", "Name")
                                @Html.DropdownHorizontalFormGroup("earningDeductionTypes", "EarningDeductionType", "Type")
                            </div>
                            <div class="form-actions right">
                                <a href="@Url.Action("Index", "EarningDeductions")" class="btn default">Cancel</a>
                                <button type="submit" class="btn green">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/scriptbundles/earningDeductions")
}