@model JPRSC.HRIS.WebApp.Features.Accounts.Edit.Command

@{
    ViewBag.Title = "Edit Account " + Model.Name;
}

<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>Edit Account</li>
            </ul>
        </div>
        <h1 class="page-title">
            Edit Account @Model.Name
        </h1>
        <div class="row">
            <div class="col-sm-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-red-sunglo">
                            <i class="fa fa-user font-red-sunglo"></i>
                            <span class="caption-subject font-red-sunglo bold uppercase">Edit Account @Model.Name</span>
                        </div>
                    </div>
                    <div class="portlet-body form" ng-controller="EditAccountCtrl as vm">
                        <form class="form-horizontal" role="form" method="post" ng-submit="vm.editAccountSubmit($event)">
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.Id)
                            <div class="form-body">
                                @Html.TextBoxHorizontalFormGroup("Name")
                                @Html.TextBoxHorizontalFormGroup("JobTitle")
                                @Html.TextBoxHorizontalFormGroup("UserName")
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Roles</label>
                                    <div class="col-md-9">
                                        <div class="mt-checkbox-list">
                                            @for (var i = 0; i < Model.RolesList.Count; i++)
                                            {
                                                <input type="hidden" name="@String.Format("RolesList[{0}].Value", i)" value="@Model.RolesList[i].Value" />
                                                <input type="hidden" name="@String.Format("RolesList[{0}].Text", i)" value="@Model.RolesList[i].Text" />
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox" name="@String.Format("RolesList[{0}].Selected", i)" checked="@Model.RolesList[i].Selected" value="true"> @Model.RolesList[i].Text
                                                    <span></span>
                                                </label>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions right">
                                <a href="@Url.Action("Index", "Accounts")" class="btn default">Cancel</a>
                                <button type="submit" class="btn green">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/scriptbundles/accounts")
}