@model JPRSC.HRIS.WebApp.Features.Loans.Index.QueryResult

@{
    ViewBag.Title = "Loans";
}

<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>Loans</li>
            </ul>
        </div>
        <h1 class="page-title">
            Loans
        </h1>
        @Html.RenderSuccessNotification()
        <div class="row" ng-controller="LoanIndexCtrl as vm" ng-init='vm.serverModel = @Html.NgInit(Model)'>
            <div class="col-sm-12">
                <form role="form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Client</label>
                                    <select class="form-control" ng-model="vm.searchModel.client" ng-options="client.name for client in vm.clients track by client.id"></select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Search Loans by First Name, Last Name, or Employee Code</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-search fa-fw" ng-show="!vm.searchInProgress"></i>
                                            <i class="fa fa-refresh fa-pulse fa-fw" ng-show="vm.searchInProgress"></i>
                                        </span>
                                        <input type="text" class="form-control" ng-model="vm.searchModel.searchTerm" ng-model-options="{ debounce: 500 }" placeholder="" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Loan Type</label>
                                    <select class="form-control" ng-model="vm.searchModel.loanType" ng-options="loanType.code for loanType in vm.loanTypes track by loanType.id"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                @if (AuthorizeHelper.IsAuthorized(Permission.LoanAdd))
                {
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" ng-disabled="vm.searchInProgress" ng-click="vm.addLoanClicked()">Add Loan</button>
                            </div>
                        </div>
                    </div>
                }
                <div class="note note-info" ng-show="!vm.loans.length">
                    <p>No loans found.</p>
                </div>
                <div class="portlet light bordered" ng-show="vm.loans.length">
                    <div class="portlet-title">
                        <div class="caption font-red-sunglo">
                            <i class="fa fa-sun-o font-red-sunglo"></i>
                            <span class="caption-subject font-red-sunglo bold uppercase">Loans</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-scrollable">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <td>Employee Code</td>
                                        <td>First Name</td>
                                        <td>Last Name</td>
                                        <td>Loan Type</td>
                                        <td>Loan Date</td>
                                        <td>Principal Amount</td>
                                        <td>Deduction Amount</td>
                                        <td>Remaining Balance</td>
                                        <td></td>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="loan in vm.loans track by loan.id">
                                        <td>{{loan.employee.employeeCode}}</td>
                                        <td>{{loan.employee.firstName}}</td>
                                        <td>{{loan.employee.lastName}}</td>
                                        <td>{{loan.loanType.code}}</td>
                                        <td>{{loan.loanDate | date:'mediumDate' }}</td>
                                        <td>{{vm.currencySymbol}}{{loan.principalAmount | number:2 }}</td>
                                        <td>{{vm.currencySymbol}}{{loan.deductionAmount | number:2 }}</td>
                                        <td>{{vm.currencySymbol}}{{loan.remainingBalance | number:2 }}</td>
                                        <td>
                                            <span class="badge bg-green-jungle bg-font-green-jungle badge-roundless" ng-if="!loan.isZeroedOut">Active Loan</span>
                                            <span class="badge bg-red-thunderbird bg-font-red-thunderbird badge-roundless" ng-if="loan.isZeroedOut">Zeroed Out</span>
                                        </td>
                                        <td>
                                            @if (AuthorizeHelper.IsAuthorized(Permission.LoanDetails))
                                            {
                                                <a href="" class="btn btn-primary btn-sm" ng-click="vm.detailsClicked(loan)">Details</a>
                                            }
                                            @if (AuthorizeHelper.IsAuthorized(Permission.LoanZeroOut))
                                            {
                                                <form action="/Loans/ZeroOut" method="post" style="display: inline-block;" ng-if="!loan.isZeroedOut">
                                                    @Html.AntiForgeryToken()
                                                    <input type="hidden" name="LoanId" value="{{loan.id}}" />
                                                    <button type="submit" class="btn btn-danger btn-sm">Zero Out</button>
                                                </form>
                                            }
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            @if (AuthorizeHelper.IsAuthorized(Permission.LoanAdd))
            {
                <script type="text/ng-template" id="addLoanModal.html">
                    <form class="form-horizontal" role="form" method="post" ng-submit="vm.addLoanSubmit($event)">
                        <div class="modal-header">
                            <h3 class="modal-title">Add Loan</h3>
                        </div>
                        <div class="modal-body">
                            <div class="form-body">
                                <div class="form-group">
                                    <label class="col-md-4 col-lg-3 control-label">Client</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input type="hidden" name="ClientId" value="{{vm.client.id}}" />
                                        <select class="form-control" ng-model="vm.client" ng-options="client.name for client in vm.clients track by client.id" ng-change="vm.clientChanged()"></select>
                                        <span ng-show="vm.validationErrors.clientId" class="help-block">{{vm.validationErrors.clientId.join(' ')}}</span>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.transactionNumber }">
                                    <label class="col-md-4 col-lg-3 control-label">Transaction Number</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input type="text" class="form-control" name="TransactionNumber" ng-model="vm.transactionNumber" />
                                        <span ng-show="vm.validationErrors.transactionNumber" class="help-block">{{vm.validationErrors.transactionNumber.join(' ')}}</span>
                                    </div>
                                </div>
                                <input type="hidden" name="EmployeeId" value="{{vm.employee.id}}" />
                                <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.employeeId }">
                                    <label class="col-md-4 col-lg-3 control-label">Employee Names<i class="fa fa-refresh fa-pulse fa-fw" ng-show="vm.searchInProgress"></i></label>
                                    <div class="col-md-8 col-lg-9">
                                        <select class="form-control" ng-model="vm.employee" ng-options="employee.name for employee in vm.employees track by employee.id">
                                            <option value="?" selected="selected">Select employee</option>
                                        </select>
                                        <span ng-show="vm.validationErrors.employeeId" class="help-block">{{vm.validationErrors.employeeId.join(' ')}}</span>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.employeeId }">
                                    <label class="col-md-4 col-lg-3 control-label">Employee Codes<i class="fa fa-refresh fa-pulse fa-fw" ng-show="vm.searchInProgress"></i></label>
                                    <div class="col-md-8 col-lg-9">
                                        <select class="form-control" ng-model="vm.employee" ng-options="employee.employeeCode for employee in vm.employees track by employee.id">
                                            <option value="?" selected="selected">Select employee</option>
                                        </select>
                                        <span ng-show="vm.validationErrors.employeeId" class="help-block">{{vm.validationErrors.employeeId.join(' ')}}</span>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.loanDate }">
                                    <label class="col-md-4 col-lg-3 control-label">Loan Date</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input type="text" class="form-control" ng-model="vm.loanDate"
                                               uib-datepicker-popup="MM/dd/yyyy" datepicker-options="vm.datepickerOptions" show-button-bar="false"
                                               is-open="vm.loanDateIsOpen" ng-click="vm.loanDateIsOpen = true">
                                        <input type="hidden" name="LoanDate" value="{{vm.loanDate | date:'yyyy-MM-ddTHH:mm:ssZ'}}" />
                                        <span ng-show="vm.validationErrors.loanDate" class="help-block">{{vm.validationErrors.loanDate.join(' ')}}</span>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.loanTypeId }">
                                    <label class="col-md-4 col-lg-3 control-label">Loan Type</label>
                                    <div class="col-md-8 col-lg-9">
                                        <select class="form-control" name="LoanTypeId" ng-model="vm.loanTypeId" ng-options="loanType.text for loanType in vm.loanTypesList track by loanType.value">
                                            <option value="?" selected="selected">Select loan type</option>
                                        </select>
                                        <span ng-show="vm.validationErrors.loanTypeId" class="help-block">{{vm.validationErrors.loanTypeId.join(' ')}}</span>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.principalAmount }">
                                    <label class="col-md-4 col-lg-3 control-label">Principal Amount</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input type="text" class="form-control" name="PrincipalAmount" ng-model="vm.principalAmount" />
                                        <span ng-show="vm.validationErrors.principalAmount" class="help-block">{{vm.validationErrors.principalAmount.join(' ')}}</span>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.remainingBalance }">
                                    <label class="col-md-4 col-lg-3 control-label">Remaining Balance</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input type="text" class="form-control" name="RemainingBalance" ng-model="vm.remainingBalance" />
                                        <span ng-show="vm.validationErrors.remainingBalance" class="help-block">{{vm.validationErrors.remainingBalance.join(' ')}}</span>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.loanPayrollPeriod }">
                                    <label class="col-md-4 col-lg-3 control-label">Payroll Periods</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input type="hidden" name="LoanPayrollPeriod" value="{{vm.getPayrollPeriodInput(vm.loanPayrollPeriods)}}" />
                                        <div class="mt-checkbox-list">
                                            <label class="mt-checkbox mt-checkbox-outline" ng-repeat="payrollPeriod in vm.loanPayrollPeriods">
                                                <input type="checkbox" ng-model="payrollPeriod.selected" value="{{payrollPeriod.payrollPeriod}}"> {{payrollPeriod.payrollPeriod}}
                                                <span></span>
                                            </label>
                                        </div>
                                        <span class="help-block" ng-show="vm.validationErrors.loanPayrollPeriod">{{vm.validationErrors.loanPayrollPeriod.join(' ')}}</span>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.principalAndInterestAmount }">
                                    <label class="col-md-4 col-lg-3 control-label">Principal + Interest Amount</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input type="text" class="form-control" name="PrincipalAndInterestAmount" ng-model="vm.principalAndInterestAmount" />
                                        <span ng-show="vm.validationErrors.principalAndInterestAmount" class="help-block">{{vm.validationErrors.principalAndInterestAmount.join(' ')}}</span>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.monthsPayable }">
                                    <label class="col-md-4 col-lg-3 control-label">Months Payable</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input type="text" class="form-control" name="MonthsPayable" ng-model="vm.monthsPayable" />
                                        <span ng-show="vm.validationErrors.monthsPayable" class="help-block">{{vm.validationErrors.monthsPayable.join(' ')}}</span>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.deductionAmount }">
                                    <label class="col-md-4 col-lg-3 control-label">Deduction Amount</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input type="text" class="form-control" name="DeductionAmount" ng-model="vm.deductionAmount" />
                                        <span ng-show="vm.validationErrors.deductionAmount" class="help-block">{{vm.validationErrors.deductionAmount.join(' ')}}</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 col-lg-3 control-label">Total Amount</label>
                                    <div class="col-md-8 col-lg-9">
                                        <p class="form-control-static">{{vm.getTotalAmount() | number:2}}</p>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.startDeductionDate }">
                                    <label class="col-md-4 col-lg-3 control-label">Start Deduction Date</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input type="text" class="form-control" ng-model="vm.startDeductionDate"
                                               uib-datepicker-popup="MM/dd/yyyy" datepicker-options="vm.datepickerOptions" show-button-bar="false"
                                               is-open="vm.startDeductionDateIsOpen" ng-click="vm.startDeductionDateIsOpen = true">
                                        <input type="hidden" name="StartDeductionDate" value="{{vm.startDeductionDate | date:'yyyy-MM-ddTHH:mm:ssZ'}}" />
                                        <span ng-show="vm.validationErrors.startDeductionDate" class="help-block">{{vm.validationErrors.startDeductionDate.join(' ')}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <i class="fa fa-refresh fa-pulse fa-fw margin-right-10" ng-show="vm.addInProgress"></i>
                            <button type="submit" ng-disabled="vm.addInProgress" class="btn green">Add</button>
                            <a href="" class="btn btn-default" ng-click="vm.cancel()" ng-disabled="vm.addInProgress">Cancel</a>
                        </div>
                    </form>
                </script>
            }

            @if (AuthorizeHelper.IsAuthorized(Permission.LoanDetails))
            {
                <script type="text/ng-template" id="loanDetailsModal.html">
                    <form class="form-horizontal" role="form" method="post">
                        <div class="modal-header">
                            <h3 class="modal-title">Loan Details</h3>
                        </div>
                        <div class="modal-body">
                            <div class="form-body">
                                <div class="form-group">
                                    <label class="col-md-4 col-lg-3 control-label">Client</label>
                                    <div class="col-md-8 col-lg-9">
                                        <p class="form-control-static">{{vm.loanResult.employee.client.name}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 col-lg-3 control-label">Transaction Number</label>
                                    <div class="col-md-8 col-lg-9">
                                        <p class="form-control-static">{{vm.loanResult.transactionNumber}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 col-lg-3 control-label">Employee</label>
                                    <div class="col-md-8 col-lg-9">
                                        <p class="form-control-static">{{vm.loanResult.employee.name}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 col-lg-3 control-label">Loan Date</label>
                                    <div class="col-md-8 col-lg-9">
                                        <p class="form-control-static">{{vm.loanResult.loanDate | date: 'mediumDate'}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 col-lg-3 control-label">Loan Type</label>
                                    <div class="col-md-8 col-lg-9">
                                        <p class="form-control-static">{{vm.loanResult.loanType.code}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 col-lg-3 control-label">Principal Amount</label>
                                    <div class="col-md-8 col-lg-9">
                                        <p class="form-control-static"><span ng-if="vm.loanResult.principalAmount">{{vm.currencySymbol}}</span>{{vm.loanResult.principalAmount | number:2}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 col-lg-3 control-label">Remaining Balance</label>
                                    <div class="col-md-8 col-lg-9">
                                        <p class="form-control-static"><span ng-if="vm.loanResult.remainingBalance">{{vm.currencySymbol}}</span>{{vm.loanResult.remainingBalance | number:2}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 col-lg-3 control-label">Payroll Periods</label>
                                    <div class="col-md-8 col-lg-9">
                                        <p class="form-control-static">{{vm.loanResult.loanPayrollPeriod}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 col-lg-3 control-label">Principal + Interest Amount</label>
                                    <div class="col-md-8 col-lg-9">
                                        <p class="form-control-static"><span ng-if="vm.loanResult.principalAndInterestAmount">{{vm.currencySymbol}}</span>{{vm.loanResult.principalAndInterestAmount | number:2}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 col-lg-3 control-label">Months Payable</label>
                                    <div class="col-md-8 col-lg-9">
                                        <p class="form-control-static">{{vm.loanResult.monthsPayable}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 col-lg-3 control-label">Deduction Amount</label>
                                    <div class="col-md-8 col-lg-9">
                                        <p class="form-control-static"><span ng-if="vm.loanResult.deductionAmount">{{vm.currencySymbol}}</span>{{vm.loanResult.deductionAmount | number:2}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 col-lg-3 control-label">Total Amount</label>
                                    <div class="col-md-8 col-lg-9">
                                        <p class="form-control-static"><span ng-if="vm.loanResult.totalAmount">{{vm.currencySymbol}}</span>{{vm.loanResult.totalAmount | number:2}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 col-lg-3 control-label">Start Deduction Date</label>
                                    <div class="col-md-8 col-lg-9">
                                        <p class="form-control-static">{{vm.loanResult.startDeductionDate | date:'mediumDate'}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="" class="btn btn-default" ng-click="vm.cancel()">Exit</a>
                        </div>
                    </form>
                </script>
            }
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/scriptbundles/loans")
}