@model JPRSC.HRIS.Features.PagIbigRecords.Edit.Command

@{
    ViewBag.Title = "Edit Pag Ibig Record " + Model.Code;
}

<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>Edit Pag Ibig Record</li>
            </ul>
        </div>
        <h1 class="page-title">
            Edit Pag Ibig Record @Model.Code
        </h1>
        <div class="row">
            <div class="col-sm-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-red-sunglo">
                            <i class="fa fa-heart font-red-sunglo"></i>
                            <span class="caption-subject font-red-sunglo bold uppercase">Edit Pag Ibig Record @Model.Code</span>
                        </div>
                    </div>
                    <div class="portlet-body form" ng-controller="EditPagIbigRecordCtrl as vm">
                        <form class="form-horizontal" role="form" method="post" ng-submit="vm.editPagIbigRecordSubmit($event)">
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.Id)
                            <div class="form-body">
                                @Html.TextBoxHorizontalFormGroup("Code")
                                @Html.TextBoxHorizontalFormGroup("Name")
                                @Html.TextBoxHorizontalFormGroup("Description")
                                @Html.TextBoxHorizontalFormGroup("EmployeePercentage")
                                @Html.TextBoxHorizontalFormGroup("EmployerPercentage")
                                @Html.TextBoxHorizontalFormGroup("DeductionAmount")
                                @Html.TextBoxHorizontalFormGroup("MinimumDeduction")
                                @Html.CheckboxHorizontalFormGroup("ApplyToSalary")
                            </div>
                            <div class="form-actions right">
                                <a href="@Url.Action("Index", "PagIbigRecords")" class="btn default">Cancel</a>
                                <button type="submit" class="btn green">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/scriptbundles/pagIbigRecords")
}