@model JPRSC.HRIS.WebApp.Features.PayPercentages.Edit.Command

@{
    ViewBag.Title = "Edit Pay Percentage " + Model.Name;
}

<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>Edit Pay Percentage</li>
            </ul>
        </div>
        <h1 class="page-title">
            Edit Pay Percentage @Model.Name
        </h1>
        <div class="row">
            <div class="col-sm-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-red-sunglo">
                            <i class="fa fa-percent font-red-sunglo"></i>
                            <span class="caption-subject font-red-sunglo bold uppercase">Edit Pay Percentage @Model.Name</span>
                        </div>
                    </div>
                    <div class="portlet-body form" ng-controller="EditPayPercentageCtrl as vm">
                        <form class="form-horizontal" role="form" method="post" ng-submit="vm.editPayPercentageSubmit($event)">
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.Id)
                            <div class="form-body">
                                @Html.TextBoxHorizontalFormGroup("Code")
                                @Html.TextBoxHorizontalFormGroup("Name")
                                @Html.TextBoxHorizontalFormGroup("Exemption")
                                <div class="form-group" ng-show="vm.taxRanges.length">
                                    <div class="col-md-3 col-lg-2 text-right">
                                    </div>
                                    <div class="col-md-9 col-lg-10">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                From
                                            </div>
                                            <div class="col-sm-2">
                                                To
                                            </div>
                                            <div class="col-sm-2">
                                                Percentage
                                            </div>
                                            <div class="col-sm-2">
                                                Plus
                                            </div>
                                            <div class="col-sm-4">
                                                &nbsp;
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" ng-repeat="taxRange in vm.taxRanges track by $index">
                                    <input type="hidden" name="{{vm.getTaxRangeFieldName($index, 'Id')}}" value="{{taxRange.id}}" />
                                    <div class="col-md-3 col-lg-2 text-right">
                                    </div>
                                    <div class="col-md-9 col-lg-10">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <input type="text" class="form-control" name="{{vm.getTaxRangeFieldName($index, 'From')}}" ng-model="taxRange.from" />
                                            </div>
                                            <div class="col-sm-2">
                                                <input type="text" class="form-control" name="{{vm.getTaxRangeFieldName($index, 'To')}}" ng-model="taxRange.to" />
                                            </div>
                                            <div class="col-sm-2">
                                                <input type="text" class="form-control" name="{{vm.getTaxRangeFieldName($index, 'Percentage')}}" ng-model="taxRange.percentage" />
                                            </div>
                                            <div class="col-sm-2">
                                                <input type="text" class="form-control" name="{{vm.getTaxRangeFieldName($index, 'Plus')}}" ng-model="taxRange.plus" />
                                            </div>
                                            <div class="col-sm-4">
                                                <a href="" class="btn btn-danger" ng-click="vm.deleteTaxRangeClicked($index)">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3 col-lg-2 text-right">
                                    </div>
                                    <div class="col-md-9 col-lg-10">
                                        <a href="" class="btn btn-primary" ng-click="vm.addTaxRangeClicked()">Add Tax Range</a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions right">
                                <a href="@Url.Action("Index", "PayPercentages")" class="btn default">Cancel</a>
                                <button type="submit" class="btn green">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/scriptbundles/payPercentages")
}