@model JPRSC.HRIS.WebApp.Features.Clients.Add.Command

@{
    ViewBag.Title = "Add a Client";
}

<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>Add Client</li>
            </ul>
        </div>
        <h1 class="page-title">
            Add Client
        </h1>
        <div class="row">
            <div class="col-sm-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-red-sunglo">
                            <i class="fa fa-plus font-red-sunglo"></i>
                            <span class="caption-subject font-red-sunglo bold uppercase">Add Client</span>
                        </div>
                    </div>
                    <div class="portlet-body form" ng-controller="AddClientCtrl as vm">
                        <form class="form-horizontal" role="form" method="post" ng-submit="vm.addClientSubmit($event)">
                            @Html.AntiForgeryToken()
                            <div class="form-body">
                                <uib-tabset active="active">
                                    <uib-tab index="0" heading="Summary">
                                        @Html.TextBoxHorizontalFormGroup("Code")
                                        @Html.TextBoxHorizontalFormGroup("Name")
                                        @Html.TextBoxHorizontalFormGroup("Description")
                                        @Html.TextBoxHorizontalFormGroup("DaysPerWeek")
                                        @Html.TextBoxHorizontalFormGroup("HoursPerDay")
                                        @Html.DropdownHorizontalFormGroup("taxTables", "TaxTable")
                                        @Html.DropdownHorizontalFormGroup("payrollCodes", "PayrollCode")
                                        @Html.TextBoxHorizontalFormGroup("NumberOfWorkingDaysForThisPayrollPeriod")
                                        <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.numberOfPayrollPeriodsAMonth }">
                                            <label class="col-md-3 col-lg-2 control-label">Number Of Payroll Periods A Month</label>
                                            <div class="col-md-9 col-lg-10">
                                                <input type="text" name="NumberOfPayrollPeriodsAMonth" ng-model="vm.numberOfPayrollPeriodsAMonth" ng-change="vm.numberOfPayrollPeriodsAMonthChanged()" class="form-control">
                                                <span class="help-block" ng-show="vm.validationErrors.numberOfPayrollPeriodsAMonth">{{vm.validationErrors.numberOfPayrollPeriodsAMonth.join(' ')}}</span>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.payrollPeriodFrom }">
                                            <label class="col-md-3 col-lg-2 control-label">Payroll Period From</label>
                                            <div class="col-md-9 col-lg-10">
                                                <input type="text" class="form-control" ng-model="vm.payrollPeriodFrom"
                                                       uib-datepicker-popup="EEE, MMMM dd, yyyy" datepicker-options="vm.datepickerOptions" show-button-bar="false"
                                                       is-open="vm.payrollPeriodFromIsOpen" ng-click="vm.payrollPeriodFromIsOpen = true">
                                                <input type="hidden" name="PayrollPeriodFrom" value="{{vm.payrollPeriodFrom | date:'yyyy-MM-ddTHH:mm:ssZ'}}" />
                                                <span class="help-block" ng-show="vm.validationErrors.payrollPeriodFrom">{{vm.validationErrors.payrollPeriodFrom.join(' ')}}</span>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.payrollPeriodTo }">
                                            <label class="col-md-3 col-lg-2 control-label">Payroll Period To</label>
                                            <div class="col-md-9 col-lg-10">
                                                <input type="text" class="form-control" ng-model="vm.payrollPeriodTo"
                                                       uib-datepicker-popup="EEE, MMMM dd, yyyy" datepicker-options="vm.datepickerOptions" show-button-bar="false"
                                                       is-open="vm.payrollPeriodToIsOpen" ng-click="vm.payrollPeriodToIsOpen = true">
                                                <input type="hidden" name="PayrollPeriodTo" value="{{vm.payrollPeriodTo | date:'yyyy-MM-ddTHH:mm:ssZ'}}" />
                                                <span class="help-block" ng-show="vm.validationErrors.payrollPeriodTo">{{vm.validationErrors.payrollPeriodTo.join(' ')}}</span>
                                            </div>
                                        </div>
                                        @Html.DropdownHorizontalFormGroup("months", "PayrollPeriodMonth")
                                        @Html.TextBoxHorizontalFormGroup("CurrentPayrollPeriod")
                                        @Html.CheckboxHorizontalFormGroup("ZeroBasic")
                                    </uib-tab>
                                    <uib-tab index="1" heading="SSS">
                                        <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.sssPayrollPeriod }">
                                            <label class="col-md-3 col-lg-2 control-label">Payroll Periods</label>
                                            <div class="col-md-9 col-lg-10">
                                                <input type="hidden" name="SSSPayrollPeriod" value="{{vm.getPayrollPeriodInput(vm.sssPayrollPeriods)}}" />
                                                <div class="mt-checkbox-list">
                                                    <label class="mt-checkbox mt-checkbox-outline" ng-repeat="payrollPeriod in vm.sssPayrollPeriods">
                                                        <input type="checkbox" ng-model="payrollPeriod.selected" value="{{payrollPeriod.payrollPeriod}}"> {{payrollPeriod.payrollPeriod}}
                                                        <span></span>
                                                    </label>
                                                </div>
                                                <span class="help-block" ng-show="vm.validationErrors.sssPayrollPeriod">{{vm.validationErrors.sssPayrollPeriod.join(' ')}}</span>
                                            </div>
                                        </div>
                                        @Html.CheckboxHorizontalFormGroup("SSSBasic", "Basic")
                                        @Html.CheckboxHorizontalFormGroup("SSSOvertime", "Overtime")
                                        @Html.CheckboxHorizontalFormGroup("SSSCola", "COLA")
                                        @Html.CheckboxHorizontalFormGroup("SSSEarnings", "Earnings")
                                        @Html.CheckboxHorizontalFormGroup("SSSDeductions", "Deductions")
                                        @Html.CheckboxHorizontalFormGroup("SSSUndertime", "Undertime")
                                    </uib-tab>
                                    <uib-tab index="2" heading="PHIC">
                                        <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.phicPayrollPeriod }">
                                            <label class="col-md-3 col-lg-2 control-label">Payroll Periods</label>
                                            <div class="col-md-9 col-lg-10">
                                                <input type="hidden" name="PHICPayrollPeriod" value="{{vm.getPayrollPeriodInput(vm.phicPayrollPeriods)}}" />
                                                <div class="mt-checkbox-list">
                                                    <label class="mt-checkbox mt-checkbox-outline" ng-repeat="payrollPeriod in vm.phicPayrollPeriods">
                                                        <input type="checkbox" ng-model="payrollPeriod.selected" value="{{payrollPeriod.payrollPeriod}}"> {{payrollPeriod.payrollPeriod}}
                                                        <span></span>
                                                    </label>
                                                </div>
                                                <span class="help-block" ng-show="vm.validationErrors.phicPayrollPeriod">{{vm.validationErrors.phicPayrollPeriod.join(' ')}}</span>
                                            </div>
                                        </div>
                                        @Html.CheckboxHorizontalFormGroup("PHICBasic", "Basic")
                                        @Html.CheckboxHorizontalFormGroup("PHICOvertime", "Overtime")
                                        @Html.CheckboxHorizontalFormGroup("PHICCola", "COLA")
                                        @Html.CheckboxHorizontalFormGroup("PHICEarnings", "Earnings")
                                        @Html.CheckboxHorizontalFormGroup("PHICDeductions", "Deductions")
                                        @Html.CheckboxHorizontalFormGroup("PHICUndertime", "Undertime")
                                    </uib-tab>
                                    <uib-tab index="3" heading="Pag Ibig">
                                        <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.pagIbigPayrollPeriod }">
                                            <label class="col-md-3 col-lg-2 control-label">Payroll Periods</label>
                                            <div class="col-md-9 col-lg-10">
                                                <input type="hidden" name="PagIbigPayrollPeriod" value="{{vm.getPayrollPeriodInput(vm.pagIbigPayrollPeriods)}}" />
                                                <div class="mt-checkbox-list">
                                                    <label class="mt-checkbox mt-checkbox-outline" ng-repeat="payrollPeriod in vm.pagIbigPayrollPeriods">
                                                        <input type="checkbox" ng-model="payrollPeriod.selected" value="{{payrollPeriod.payrollPeriod}}"> {{payrollPeriod.payrollPeriod}}
                                                        <span></span>
                                                    </label>
                                                </div>
                                                <span class="help-block" ng-show="vm.validationErrors.pagIbigPayrollPeriod">{{vm.validationErrors.pagIbigPayrollPeriod.join(' ')}}</span>
                                            </div>
                                        </div>
                                        @Html.CheckboxHorizontalFormGroup("PagIbigBasic", "Basic")
                                        @Html.CheckboxHorizontalFormGroup("PagIbigOvertime", "Overtime")
                                        @Html.CheckboxHorizontalFormGroup("PagIbigCola", "COLA")
                                        @Html.CheckboxHorizontalFormGroup("PagIbigEarnings", "Earnings")
                                        @Html.CheckboxHorizontalFormGroup("PagIbigDeductions", "Deductions")
                                        @Html.CheckboxHorizontalFormGroup("PagIbigUndertime", "Undertime")
                                    </uib-tab>
                                    <uib-tab index="4" heading="Tax">
                                        <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.taxPayrollPeriod }">
                                            <label class="col-md-3 col-lg-2 control-label">Payroll Periods</label>
                                            <div class="col-md-9 col-lg-10">
                                                <input type="hidden" name="TaxPayrollPeriod" value="{{vm.getPayrollPeriodInput(vm.taxPayrollPeriods)}}" />
                                                <div class="mt-checkbox-list">
                                                    <label class="mt-checkbox mt-checkbox-outline" ng-repeat="payrollPeriod in vm.taxPayrollPeriods">
                                                        <input type="checkbox" ng-model="payrollPeriod.selected" value="{{payrollPeriod.payrollPeriod}}"> {{payrollPeriod.payrollPeriod}}
                                                        <span></span>
                                                    </label>
                                                </div>
                                                <span class="help-block" ng-show="vm.validationErrors.taxPayrollPeriod">{{vm.validationErrors.taxPayrollPeriod.join(' ')}}</span>
                                            </div>
                                        </div>
                                        @Html.CheckboxHorizontalFormGroup("TaxBasic", "Basic")
                                        @Html.CheckboxHorizontalFormGroup("TaxOvertime", "Overtime")
                                        @Html.CheckboxHorizontalFormGroup("TaxCola", "COLA")
                                        @Html.CheckboxHorizontalFormGroup("TaxEarnings", "Earnings")
                                        @Html.CheckboxHorizontalFormGroup("TaxDeductions", "Deductions")
                                        @Html.CheckboxHorizontalFormGroup("TaxUndertime", "Undertime")
                                    </uib-tab>
                                </uib-tabset>
                            </div>
                            <div class="form-actions right">
                                <a href="@Url.Action("Index", "Clients")" class="btn default">Cancel</a>
                                <button type="submit" class="btn green">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/scriptbundles/clients")
}