@model JPRSC.HRIS.WebApp.Features.Clients.Edit.Command

@{
    ViewBag.Title = "Edit Client " + Model.Name;
}

<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>Edit Client</li>
            </ul>
        </div>
        <h1 class="page-title">
            Edit Client @Model.Name
        </h1>
        <div class="row">
            <div class="col-sm-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-red-sunglo">
                            <i class="fa fa-book font-red-sunglo"></i>
                            <span class="caption-subject font-red-sunglo bold uppercase">Edit Client @Model.Name</span>
                        </div>
                    </div>
                    <div class="portlet-body form" ng-controller="EditClientCtrl as vm" ng-init='vm.serverModel = @Html.NgInit(Model)'>
                        <form class="form-horizontal" role="form" method="post" ng-submit="vm.editClientSubmit($event)">
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.Id)
                            <div class="form-body">
                                @Html.TextBoxHorizontalFormGroup("Code")
                                @Html.TextBoxHorizontalFormGroup("Name")
                                @Html.TextBoxHorizontalFormGroup("Description")
                                @Html.TextBoxHorizontalFormGroup("DaysPerWeek")
                                @Html.TextBoxHorizontalFormGroup("HoursPerDay")
                                @Html.DropdownHorizontalFormGroup("taxTables", "TaxTable")
                                @Html.DropdownHorizontalFormGroup("payrollCodes", "PayrollCode")
                                @Html.TextBoxHorizontalFormGroup("NumberOfWorkingDaysForThisPayrollPeriod")
                                @Html.TextBoxHorizontalFormGroup("NumberOfPayrollPeriodsAMonth")
                                <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.payrollPeriodFrom }">
                                    <label class="col-md-3 col-lg-2 control-label">Payroll Period From</label>
                                    <div class="col-md-9 col-lg-10">
                                        <input type="text" class="form-control" ng-model="vm.payrollPeriodFrom"
                                               uib-datepicker-popup="EEE, MMMM dd, yyyy" datepicker-options="vm.datepickerOptions" show-button-bar="false"
                                               is-open="vm.payrollPeriodFromIsOpen" ng-click="vm.payrollPeriodFromIsOpen = true">
                                        <input type="hidden" name="PayrollPeriodFrom" value="{{vm.payrollPeriodFrom | date:'yyyy-MM-ddTHH:mm:ssZ'}}" />
                                        <span class="help-block" ng-show="vm.validationErrors.payrollPeriodFrom"></span>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error': vm.validationErrors.payrollPeriodTo }">
                                    <label class="col-md-3 col-lg-2 control-label">Payroll Period To</label>
                                    <div class="col-md-9 col-lg-10">
                                        <input type="text" class="form-control" ng-model="vm.payrollPeriodTo"
                                               uib-datepicker-popup="EEE, MMMM dd, yyyy" datepicker-options="vm.datepickerOptions" show-button-bar="false"
                                               is-open="vm.payrollPeriodToIsOpen" ng-click="vm.payrollPeriodToIsOpen = true">
                                        <input type="hidden" name="PayrollPeriodTo" value="{{vm.payrollPeriodTo | date:'yyyy-MM-ddTHH:mm:ssZ'}}" />
                                        <span class="help-block" ng-show="vm.validationErrors.payrollPeriodTo"></span>
                                    </div>
                                </div>
                                @Html.DropdownHorizontalFormGroup("months", "PayrollPeriodMonth")
                                @Html.TextBoxHorizontalFormGroup("CurrentPayrollPeriod")
                                @Html.CheckboxHorizontalFormGroup("ZeroBasic")
                            </div>
                            <div class="form-actions right">
                                <a href="@Url.Action("Index", "Clients")" class="btn default">Cancel</a>
                                <button type="submit" class="btn green">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/scriptbundles/clients")
}